[Unit]
Description=Fitted FastAPI Backend
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/fitted
ExecStart=/home/ec2-user/fitted/.venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=5
Environment="USE_SSM=true"
Environment="AWS_DEFAULT_REGION=us-west-1"
Environment="WEATHER_BUCKET_NAME=fitted-weather-data-dev"

[Install]
WantedBy=multi-user.target
